* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}

body {
  font-size: 1.6rem;
  background-color: hsl(225, 100%, 94%);
  position: relative;
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  padding: 2.5rem 2rem;
}

span {
  display: inline-block;
}

.container {
  background-color: #fff;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  overflow: hidden;
}

.hero-img {
  max-width: 100%;
}

.text-container {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.heading {
  font-size: 2.4rem;
}

.description {
  color: hsl(224, 23%, 55%);
  line-height: 1.6;
}

.plan-box {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 8px;
  padding: 2rem 2rem;
  gap: 2rem;
}

.plan-mid-box {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-right: 2rem;
}

.title {
  font-weight: 700;
}

.price {
  color: hsl(224, 23%, 55%);
}

.btn-change {
  font-size: 1.4rem;
  color: hsl(245, 75%, 52%);
}

.btn-change:hover {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.btn-payment {
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem rgba(56, 41, 224, 0.267);
}

.btn-payment:hover {
  background-color: rgba(56, 41, 224, 0.551);
  cursor: pointer;
}

.btn-cancel {
  border: none;
  background-color: #fff;
  color: hsl(224, 23%, 55%);
}

.btn-cancel:hover {
  cursor: pointer;
  color: hsl(223, 47%, 23%);
}
