/* Mobile : 375px */
@media (max-width: 28em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .image-box {
    background-image: url(images/image-product-mobile.jpg);
  }
}
