@media (max-width: 42em) {
  .text-container {
    max-width: 30rem;
    margin: 0 auto;
    text-align: justify;
  }

  .heading {
    font-size: 2.4rem;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.2;
  }

  .heading strong {
    font-weight: 400;
  }

  .description {
    font-weight: 200;
    margin-bottom: 6rem;
    font-size: 1.4rem;
  }

  .card-heading {
    font-size: 2rem;
    font-weight: 400;
  }

  .cards-container {
    grid-template-columns: 1fr;
    max-width: 30rem;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .card-description {
    font-weight: 200;
    font-size: 1.4rem;
  }

  .supervisor {
    grid-row: 1;
    grid-column: 1;
  }

  .builder {
    grid-row: 2;
    grid-column: auto;
  }

  .karma {
    grid-row: 3;
    grid-column: auto;
  }

  .calculator {
    grid-row: 4;
    grid-column: auto;
  }
}
