@media (max-width: 40em) {
  .container {
    padding: 0;
  }

  .heading {
    font-size: 3rem;
  }

  .top {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    justify-content: space-between;
  }

  .mission {
    margin-bottom: 3rem;
  }

  .ratings {
    grid-column: 1;
    grid-row: 3;
    align-items: center;
    margin-top: 0;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .ratings li {
    min-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    padding: 1.5rem 0;
  }

  .ratings li:nth-child(2) {
    margin-left: 0rem;
  }

  .ratings li:nth-child(3) {
    margin-left: 0rem;
  }

  .testimonials {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  .testimonial {
    margin-top: 0;
  }
}
